
.clickeableRow:hover {
    cursor: pointer;
    background-color: #5DBCD2;
    color:white;
}

.highLightedRow:hover {
    background-color: #5DBCD2;
    color:white;
}

.clickeableIcon {
    text-align: center;
}

.indexBigger {
    z-index: 10;
}

.clickeableIcon:hover{
    color:white;
    background-color: rgba(240, 52, 52, 0.5);
}

.printerAvailable {
    color: #00BD0E;
}

.printerBusy {
    color: #FFB801;
}

.printerWaitingTechnical {
    color: #EB1700;
}


.orderReadyToBeDelivered {
    color: #00BD0E;
}

.orderWaiting {
    color: #FFB801;
}

.orderDelivered {
    color: blue;
}